name: Build and Release

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'gradle'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew clean build

    - name: Get Version
      id: get_version
      run: |
        VERSION=$(./gradlew properties -q | grep "version:" | awk '{print $2}')
        echo "VERSION=$VERSION" >> $GITHUB_ENV

    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      with:
        tag_name: v${{ env.VERSION }}
        name: v${{ env.VERSION }}
        files: build/libs/StatusPlugin-*.jar
        generate_release_notes: true
